@use "../_foundation/mixin"as mixin;
@use "../_foundation/base"as base;

#news {
  margin: 183px auto 0;
  padding: 0 8.33%;
  .news {
    &__inner {
      max-width: 1081px;
      width: 100%;
      margin: 0 auto; 
      &--flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 39.5px;
        .section-title {
          margin: 0 0 0 8px;
        }
        .btn {
          width: 160px;
          height: 40px;
          font-size: 16px;
          margin: 0 -8px -6px 0px;
          letter-spacing: 1.6px;
          &:hover {
            background-color: #54372D;
            color: #FFFFFF;
          }
        }
      }  
      .news-postlist { 
        display: flex;   
        width: 100%; 
        padding: 0;
        .news-post {
          // padding: 10px;
          transition: 0.3s;
          border-left: 1px solid #54372D; /* 左側の線を設定 */
          border-right: none; /* 初期状態で右側の線を無効化 */
          height: 150px;
          .custom-field {
            color: #54372D;
            padding: 16.5px 19.5px 19.5px;
            &__post-date {
              display: block;
              font-size: 14px;
              font-weight: bold;
              font-family: "Yu Gothic";
              letter-spacing: 1.4px;
              margin: 0 0 12px 0 ;
            }
            &__news-title {
              font-size: 18px;
              font-weight: bold;
              font-family: "Yu Gothic";
              letter-spacing: 1.8px;
              line-height: 27px;
              margin: -2px 0px -8px 5px;
            }
            &__post-category {
              font-size: 14px;
              margin: 20px 0 0 ;
              font-family: "Marcellus";
              letter-spacing: 1.4px;
            }
          }
        }
          &:last-child {
            border-right: 1px solid #54372D; /* 最後の要素に右側の線を追加 */
            height: 150px;
            width: 101%;
          }
      }
      
      .news-post:hover  {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
  }
}


@include mixin.SP {
  #news {
    margin: 56px auto;
    padding: 0 8%;
    .news {
      &__inner {
        max-width: 1081px;
        width: 100%;
        margin: 0 auto; 
        &--flex {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin: 0 0 39.5px;
          .section-title {
            margin: 0 0 0 8px;
          }

        }  
        .news-postlist { 
          display: flex;   
          flex-direction: column;
          width: 100%; 
          padding: 0;
          position: relative; /* 擬似要素の基準に */
          .news-post {
            transition: 0.3s;
            border-top: 1px solid #54372D; // 各要素の下に線を設定
            border-left: none; /* 初期状態で右側の線を無効化 */
            border-bottom: none; /* 初期状態で右側の線を無効化 */
            height: 161px;
            padding: 15.5px 0;
            .custom-field {
              color: #54372D;
              padding: 0;
              &__post-date {
                display: block;
                font-size: 14px;
                font-weight: bold;
                font-family: "Yu Gothic";
                letter-spacing: 1.4px;
                margin: 0 0 12px 0 ;
              }
              &__news-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "Yu Gothic";
                letter-spacing: 1.8px;
                line-height: 27px;
                margin: 0 0 16px 0 ;
              }
              &__post-category {
                font-size: 14px;
                // margin: 20px 0 0 ;
                font-family: "Marcellus";
                letter-spacing: 1.4px;
              }
            }
          }  
          .news-post:hover  {
            opacity: 0.7;
            transition: 0.3s;
          }
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #54372D; /* 線の色 */
          }
        } 
        .btn.back {
          margin: 11px auto 0;
        }
      }
    }
  }
}  