@use "../_foundation/mixin"as mixin;
@use "../_foundation/base"as base;



#section-contects.reserve {
  height: auto;
  background-color: #F9F8F6;
  border-bottom:1px solid  #F9F8F6;
}   

.privacy-policy {
  padding: 109px 13.9% 109px 12.6%;
  background-color: #F9F8F6;
  &__inner { 

    max-width: 1061px;
    .privacy-download {
      display: flex;
      width: fit-content;
      margin: 0 -26px 0 0px;
      &__textarea {
        color: #CA7F13;
        max-width: 720px;
        width: 100%;
        margin: 0 100px 121px 0;
        &--title {
          font-size: 32px;
          font-family: "Yu Mincho", "cursive";
          letter-spacing: 3.2px;
          line-height: 32px;
          margin: 0 0 42px;
        }
        &--text {
          font-size: 18px;
          font-family: "Yu Gothic", "cursive";
          letter-spacing: 1.8px;
          line-height: 27px;
        }
      }
    }


    .download-content {
      background-color: #D4CEBE;
      width: 240px;
      height: 147px;
      padding: 32px 40px 36px ;
      &__text {
        color: #CA7F13;
        font-size: 18px;
        font-family: "Yu Gothic", "cursive";
        letter-spacing: 1.8px;
        line-height: 27px;
        margin: 0 0 16px 0 ;
      }

      &__button {
        width: 160px;
        height: 40px; 
        font-size: 16px;
        font-family: "Yu Mincho", "cursive";
        letter-spacing: 1.6px;
        justify-content: left;
        .fa-file-download {
          font-size: 16px;
          margin: 0 14px 0 12px;
        }
        &:hover {
          color: #F9F8F6;
          background-color: #CA7F13;
        }
      }
    }



    .contact-section {
      .contact {
        display: flex;
        align-items: center;
        justify-content: left;
        &__info {
          max-width: 578px;
          width: 100%;
          color: #CA7F13;
          &--title {
            font-size: 48px;
            font-family: 'Marcellus', serif;
            letter-spacing: 4.8px;
            margin-bottom: 27px;
          }
          &--description {
            font-size: 18px;
            letter-spacing: 1.8px;
            line-height: 27px;
            font-family: 'Yu Gothic', sans-serif;
          }
        }
        
        &__details {
          max-width: 422px;
          width: 100%;
          color: #CA7F13;
          margin: 0px -23px 0 58.5px;
          padding: 66px 0 44px 9.9%;
          border-left: 1px solid #CA7F13;
          &--number  {
            width: fit-content;
            color: #CA7F13;
            font-size: 32px;
            font-family: 'Marcellus', serif;
            letter-spacing: 3.2px;
            margin-bottom: 36px;
          }
          &--hours {
            width: fit-content;
            display: inline-block;
            font-size: 14px;
            letter-spacing: 1.4px;
            font-family: 'Yu Gothic', sans-serif;
            border: 1px solid #CA7F13;
            border-radius: 16px;
            padding: 7px 35px;
          }
        }
      }
    }
  }
}



#contact-form-section {
  background-color: #EDE9E4;
  padding: 80px 180px;
  .contact-form-section {
    &__inner {
      max-width: 1080px;
      margin: 0 auto;
      // margin: 0 auto;  
      .mail-steps {
        display: flex;
        justify-content: space-between;
        // margin: 0 0 48px 0;
        &__textarea {
          &--title {
            color: #CA7F13;
            font-size: 48px;
            letter-spacing: 4.8px;
            font-family: 'Marcellus', sans-serif;
            margin: 0 0 48px 0;
          }
          &--description {
            color: #333333;
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 28px;
            font-family: 'Yu Gothic', sans-serif;
          }
        }

        &__container {
          display: flex;
          justify-content: center;
          gap: 26.5px;
          .mail-step {
            text-align: center;
            border-top: 2px solid #707070;
            border-bottom: 2px solid #707070;
            padding: 57.5px 13.5px 53.5px 14.5px;
            &__number {
              color: #707070;
              font-size: 20px;
              letter-spacing: 2.0px;
              font-family: 'Marcellus', sans-serif;
              margin: 0 0 16px 0;
            }
            &__text {
              color: #707070;
              font-size: 24px;
              letter-spacing: 2.4px;
              font-family: 'Yu Mincho', sans-serif;
              // margin: 0 0 48px 0;
            }
            &:nth-of-type(1) {
              border-top-color: #CA7F13; // アクティブなステップのカラー
              border-bottom-color:#CA7F13; // アクティブなステップのカラー
              &:nth-of-type(1) {
                .mail-step__number,
                .mail-step__text {
                  color: #CA7F13;
                }
              }
            }
          }
        }
      }
  


      .contact-form-wrapper {
        max-width: 100%;
        margin:90px auto 30px;
        padding: 0 0 20px 42px;
        background-color: #EDE9E4;
        border-radius: 8px;

        .calendar-field-group {
          display: flex;                // ラベルと記入欄を横並び
          align-items: center;          // 縦方向を中央揃え
          gap: 15px;                    // ラベルと入力欄の間隔
          margin-bottom: 20px;          // 下の余白
             /* プレースホルダーとしての「年/月/日」を非表示 */
            input[type="date"]::-webkit-datetime-edit-text {
              display: none;
            }
            input[type="date"]::-webkit-datetime-edit-year-field,
            input[type="date"]::-webkit-datetime-edit-month-field,
            input[type="date"]::-webkit-datetime-edit-day-field {
              display: none;
            }
        
          label {
            color: #333333;
            font-size: 16px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 1.6px;
            white-space: nowrap;        // ラベルを折り返さない
            flex: 0 0 200px;            // ラベルの幅を固定
               /* プレースホルダーとしての「年/月/日」を非表示 */
              .title {
                display: flex;
                .required-icon {
                  font-size: 12px;          // 必須アイコンのフォントサイズ
                  letter-spacing: 1.2px;
                  font-family: 'Yu Mincho', sans-serif;
                  color: #F9F8F6;             // アイコンの文字色
                  background-color: #54372D;  // アイコンの背景色
                  border-radius: 15px;
                  padding: 5px 18px;           // 内側の余白
                  margin: 0 16px 0 0;
                }
          
                .optional-icon {
                  font-size: 12px;          // 任意アイコンのフォントサイズ
                  letter-spacing: 1.2px;
                  font-family: 'Yu Mincho', sans-serif; 
                  color: #333333;             // アイコンの文字色
                  background-color: #D4CEBE;  // アイコンの背景色
                  border-radius: 15px;
                  padding: 5px 18px;           // 内側の余白
                  margin: 0 16px 0 0;
                }
              }
          }
        
          .calendar-icon {
            position: relative;         // アイコンを入力欄内に配置
            flex: 1;                    // 入力欄を可能な限り広げる
            display: flex;
            align-items: center;
        
            input[type="date"] {
              width: 300px;              // 入力欄を親要素内で幅いっぱいに
              height: 50px;             // 高さを設定
              padding: 0px 15px 0 10px;   // 左右の余白を設定（右側はアイコン用）
              background-color: #FFFFFF;
              border-radius: 5px;       // 角丸
              font-size: 1rem;          // フォントサイズ
              appearance: none;         // デフォルトの外観を無効化
              -webkit-appearance: none; // Safari用の外観を無効化
        
              // カレンダーアイコンを非表示にする
              &::-webkit-calendar-picker-indicator {
                opacity: 1;             // デフォルトアイコンを非表示
              }
            }
        
            i.fa-calendar {
              position: absolute;
              right: 423px;
              top: 1px;
              color: #FFFFFF;
              background-color: #CA7F13;
              padding: 12px;
              font-size: 25px;
              cursor: pointer;
              cursor: pointer;          // 指アイコンを表示            
                &:hover {
                  color: #b67a3b;         // ホバー時の色
                }
            }
          }
        }
        
        
          
      
      
        label {
          display: flex;
          justify-content: flex-start;
          margin: 0 0 16px 0px;
          color: #333333;
          font-size: 16px;
          font-family: 'Yu Mincho', sans-serif;
          letter-spacing: 1.6px;
          align-items: center;
          .title {
            .required-icon {
              font-size: 12px;          // 必須アイコンのフォントサイズ
              letter-spacing: 1.2px;
              font-family: 'Yu Mincho', sans-serif;
              color: #F9F8F6;             // アイコンの文字色
              background-color: #54372D;  // アイコンの背景色
              border-radius: 15px;
              padding: 5px 18px;           // 内側の余白
              margin: 0 16px 0 0;
            }
      
            .optional-icon {
              font-size: 12px;          // 任意アイコンのフォントサイズ
              letter-spacing: 1.2px;
              font-family: 'Yu Mincho', sans-serif; 
              color: #333333;             // アイコンの文字色
              background-color: #D4CEBE;  // アイコンの背景色
              border-radius: 15px;
              padding: 5px 18px;           // 内側の余白
              margin: 0 16px 0 0;
            }
          }
          
          input,
          select {
            flex: 1;
            margin: 0 0 0 100px;
            padding: 8px;
            background-color: #FFFFFF;
            border-radius: 4px;
            font-size: 1rem;
            // max-width: 620px;
            width: 620px;
            height: 50px;
            background-color: #FFFFFF;
          }

          textarea {
            flex: 1;
            margin: 0 0 0 100px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
            // max-width: 620px;
            width: 620px;
            height: 120px;
            background-color: #FFFFFF;
          }
        }
      
        .checkbox {
          margin-bottom: 43px;
          display: flex;
          align-content: center;
          justify-content: flex-start;
          input[type="checkbox"] {
            -webkit-appearance: checkbox; // Webkitブラウザ用
            -moz-appearance: checkbox;    // Mozillaブラウザ用
            appearance: checkbox;         // モダンブラウザ用
            width: 31px;
            height: 30px;
          }
          label {
            color: #333333;
            font-size: 16px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 1.6px;
          }

          .wpcf7-checkbox {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
          }
        
          .wpcf7-list-item {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;          // 必須アイコンのフォントサイズ
            letter-spacing: 1.4px;
            font-family: 'Yu Gothic', sans-serif;
            color: #333333;             // アイコンの文字色
          }
      
        
            .checkbox-group-inner {
              display: flex;  
              margin: -29px 0px 0 73px;
              height: 56px;
              legend {
                font-size: 14px;          // 必須アイコンのフォントサイズ
                letter-spacing: 1.4px;
                font-family: 'Yu Gothic', sans-serif;
                color: #333333;             // アイコンの文字色
                margin: 24px 0 0px;
              }
              .wpcf7-form-control-wrap {
                .wpcf7-checkbox {
                  gap: 15px;          
                  .wpcf7-list-item {
                    align-items: center;
                    gap: 5px;
                  }
                }
              }  
            }
        }

        .checkbox2 {
          margin-bottom: 43px;
          display: flex;
          align-content: center;
          justify-content: flex-start;
          input[type="checkbox"] {
            -webkit-appearance: checkbox; // Webkitブラウザ用
            -moz-appearance: checkbox;    // Mozillaブラウザ用
            appearance: checkbox;         // モダンブラウザ用
            width: 31px;
            height: 30px;
            background-color: #FFFFFF;
          }
          label {
            color: #333333;
            font-size: 16px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 1.6px;
            margin: 0 16px 0 0;

          }

          .wpcf7-checkbox {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            width: 420px;
          }
        
          .wpcf7-list-item {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;          // 必須アイコンのフォントサイズ
            letter-spacing: 1.4px;
            font-family: 'Yu Gothic', sans-serif;
            color: #333333;             // アイコンの文字色
          }
      
        
            .checkbox-group-inner {
              display: flex;  
              margin: -29px 0px 0 73px;
              height: 56px;
              legend {
                font-size: 14px;          // 必須アイコンのフォントサイズ
                letter-spacing: 1.4px;
                font-family: 'Yu Gothic', sans-serif;
                color: #333333;             // アイコンの文字色
                margin: 24px 0 0px;
              }
              .wpcf7-form-control-wrap {
                .wpcf7-checkbox {
                  gap: 15px;          
                  .wpcf7-list-item {
                    align-items: center;
                    gap: 5px;
                  }
                }
              }  
            }
      
        }
        position: relative;
        .submit {
          margin: 0 auto;
          position: absolute;
          top: 105.8%;
          left: 49%;
          transform: translate(-50%, -50%); /* 中心位置に調整 */
          .wpcf7-submit {
            width: 160px;
            height: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content:center  ; // 中央揃え
            background: #949E33; // 初期背景色
            color: #FFFFFF; // 初期文字色
            font-family: "Yu Mincho";
            letter-spacing: 2px;
            border-radius: 40px;
            margin: 0 4px 0 0;
            transition: background 0.3s ease, color 0.3s ease;
            text-decoration: none; // リンクの場合も装飾を消す
            cursor: pointer;
            &:hover {
              background-color: #a15e2d;
            }
          }
        }  
      }
      .contact-thanks {
        
        h2 {
          color: #CA7F13;
          font-size: 36px;
          font-family: 'Yu Mincho', sans-serif;
          letter-spacing: 3.6px;
          margin: 64px auto 32px;
          text-align: center;
        }

        .flex {
          width: 50%;
          text-align: left;
          margin: 0 auto;
          p {
            color: #CA7F13;
            font-size: 18px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 0.72px;
            margin: 0 16px 0 0;
          }
  
          a{
            color: #CA7F13;
            font-size: 18px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 0.72px;
            margin: 0 16px 0 0;
          }
        }
        
      }
    }
  }
}




@include mixin.TAB1 {
  #section-contects.reserve {
    height: auto;
    background-color: #F9F8F6;
    border-bottom:1px solid  #F9F8F6;
  }   

  .privacy-policy {
    padding: 79px 30px ;
    background-color: #F9F8F6;
    &__inner { 
      max-width: 1061px;
      .privacy-download {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: fit-content;
        padding: 0 ;
        margin: 0 ;
        &__textarea {
          color: #CA7F13;
          max-width: 720px;
          width: 100%;
          margin:  0;
          &--title {
            font-size: 24px;
            font-family: "Yu Mincho", "cursive";
            letter-spacing: 2.4px;
            line-height: 32px;
            margin: 24px 0px 14px;
          }
          &--text {
            font-size: 14px;
            font-family: "Yu Gothic", "cursive";
            letter-spacing: 1.4px;
            line-height: 21px;
            margin: 0 0 -2px;
          }
        }
      }


      .download-content {
        background-color: #D4CEBE;
        width: 240px;
        height: 147px;
        padding: 32px 40px 36px ;
        &__text {
          color: #CA7F13;
          font-size: 18px;
          font-family: "Yu Gothic", "cursive";
          letter-spacing: 1.8px;
          line-height: 27px;
          margin: 0 0 16px 0 ;
        }

        &__button {
          width: 160px;
          height: 40px; 
          font-size: 16px;
          font-family: "Yu Mincho", "cursive";
          letter-spacing: 1.6px;
          justify-content: left;
          .fa-file-download {
            font-size: 16px;
            margin: 0 14px 0 12px;
          }
          &:hover {
            color: #F9F8F6;
            background-color: #CA7F13;
          }
        }
      }



      .contact-section {
        .contact {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &__info {
            max-width: 578px;
            width: 100%;
            color: #CA7F13;
            &--title {
              font-size: 24px;
              font-family: 'Marcellus', serif;
              letter-spacing: 2.4px;
              line-height: 32px;
              margin: 32px 0 10px 0;
              text-align: center;
            }
            &--description {
              font-size: 14px;
              letter-spacing: 1.4px;
              line-height: 21px;
              font-family: 'Yu Gothic', sans-serif;
            }
          }
          
          &__details {
            max-width: 422px;
            width: 100%;
            color: #CA7F13;
            margin: 13px auto ;
            padding: 0;
            text-align: center;
            border-left: none;
            &--number  {
              width: fit-content;
              color: #CA7F13;
              font-size: 24px;
              font-family: 'Marcellus', serif;
              margin: 10px auto 13px auto;
              letter-spacing: 2.4px;
              line-height: 32px;
            }
            &--hours {
              width: fit-content;
              display: inline-block;
              font-size: 14px;
              letter-spacing: 1.4px;
              line-height: 32px;
              font-family: 'Yu Gothic', sans-serif;
              border: 1px solid #CA7F13;
              border-radius: 16px;
              padding: 0px 35px;
            }
          }
        }
      }
    }
  }

  

#contact-form-section {
  background-color: #EDE9E4;
  padding:60px 30px;

  .contact-form-section {
    &__inner {
        
      max-width: 1080px;
      margin: 0 auto;
      // margin: 0 auto;  
      .mail-steps {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__textarea {
          margin: 0 auto; 
          &--title {
            color: #CA7F13;
            font-size: 32px;
            letter-spacing: 3.2px;
            font-family: 'Marcellus', sans-serif;
            margin: 0 0 16px 0;
          }
          &--description {
            color: #333333;
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 28px;
            font-family: 'Yu Gothic', sans-serif;
            margin: 0 0 30px;
          }
        }

        &__container {
          display: flex;
          justify-content: center;
          gap: 32.5px;
          .mail-step {
            text-align: center;
            border-top: 2px solid #707070;
            border-bottom: 2px solid #707070;
            padding: 57.5px 13.5px 53.5px 14.5px;
            &__number {
              color: #707070;
              font-size: 14px;
              letter-spacing: 1.4px;
              font-family: 'Marcellus', sans-serif;
              margin: 0 0 16px 0;
            }
            &__text {
              color: #707070;
              font-size: 17px;
              letter-spacing: 1.7px;
              font-family: 'Yu Mincho', sans-serif;
              // margin: 0 0 48px 0;
            }
            &:nth-of-type(1) {
              border-top-color: #CA7F13; // アクティブなステップのカラー
              border-bottom-color:#CA7F13; // アクティブなステップのカラー
              &:nth-of-type(1) {
                .mail-step__number,
                .mail-step__text {
                  color: #CA7F13;
                }
              }
            }
          }
        }
      }
      
  


      .contact-form-wrapper {
        max-width: 100%;
        margin:90px auto 30px;
        padding: 0 0 20px 42px;
        background-color: #EDE9E4;
        border-radius: 8px;

        .calendar-field-group {
          display: flex;                // ラベルと記入欄を横並び
          flex-direction: column;
          align-items: center;          // 縦方向を中央揃え
          gap: 15px;                    // ラベルと入力欄の間隔
          margin-bottom: 20px;          // 下の余白
             /* プレースホルダーとしての「年/月/日」を非表示 */
            input[type="date"]::-webkit-datetime-edit-text {
              display: none;
            }
            input[type="date"]::-webkit-datetime-edit-year-field,
            input[type="date"]::-webkit-datetime-edit-month-field,
            input[type="date"]::-webkit-datetime-edit-day-field {
              display: none;
            }
        
          label {
            color: #333333;
            font-size: 16px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 1.6px;
            white-space: nowrap;        // ラベルを折り返さない
            flex: 0 0 200px;            // ラベルの幅を固定
               /* プレースホルダーとしての「年/月/日」を非表示 */
              .required-icon {
                font-size: 12px;          // 必須アイコンのフォントサイズ
                letter-spacing: 1.2px;
                font-family: 'Yu Mincho', sans-serif;
                color: #F9F8F6;             // アイコンの文字色
                background-color: #54372D;  // アイコンの背景色
                border-radius: 15px;
                padding: 5px 18px;           // 内側の余白
                margin: 0 16px 0 0;
              }
        
              .optional-icon {
                font-size: 12px;          // 任意アイコンのフォントサイズ
                letter-spacing: 1.2px;
                font-family: 'Yu Mincho', sans-serif; 
                color: #333333;             // アイコンの文字色
                background-color: #D4CEBE;  // アイコンの背景色
                border-radius: 15px;
                padding: 5px 18px;           // 内側の余白
                margin: 0 16px 0 0;
              }
            
          }
        
          .calendar-icon {
            position: relative;         // アイコンを入力欄内に配置
            flex: 1;                    // 入力欄を可能な限り広げる
            display: flex;
            align-items: center;
        
            input[type="date"] {
              width: 300px;              // 入力欄を親要素内で幅いっぱいに
              height: 50px;             // 高さを設定
              padding: 0px 15px 0 10px;   // 左右の余白を設定（右側はアイコン用）
              background-color: #FFFFFF;
              border-radius: 5px;       // 角丸
              font-size: 1rem;          // フォントサイズ
              appearance: none;         // デフォルトの外観を無効化
              -webkit-appearance: none; // Safari用の外観を無効化
        
              // カレンダーアイコンを非表示にする
              &::-webkit-calendar-picker-indicator {
                opacity: 1;             // デフォルトアイコンを非表示
              }
            }
        
            i.fa-calendar {
              position: absolute;
              right: 423px;
              top: 1px;
              color: #FFFFFF;
              background-color: #CA7F13;
              padding: 12px;
              font-size: 25px;
              cursor: pointer;
              cursor: pointer;          // 指アイコンを表示            
                &:hover {
                  color: #b67a3b;         // ホバー時の色
                }
            }
          }
        }
        
        
          
      
      
        label {
          display: flex;
          justify-content: flex-start;
          margin: 0 0 16px 0px;
          color: #333333;
          font-size: 16px;
          font-family: 'Yu Mincho', sans-serif;
          letter-spacing: 1.6px;
          align-items: center;
            .required-icon {
              font-size: 12px;          // 必須アイコンのフォントサイズ
              letter-spacing: 1.2px;
              font-family: 'Yu Mincho', sans-serif;
              color: #F9F8F6;             // アイコンの文字色
              background-color: #54372D;  // アイコンの背景色
              border-radius: 15px;
              padding: 5px 18px;           // 内側の余白
              margin: 0 16px 0 0;
            }
      
            .optional-icon {
              font-size: 12px;          // 任意アイコンのフォントサイズ
              letter-spacing: 1.2px;
              font-family: 'Yu Mincho', sans-serif; 
              color: #333333;             // アイコンの文字色
              background-color: #D4CEBE;  // アイコンの背景色
              border-radius: 15px;
              padding: 5px 18px;           // 内側の余白
              margin: 0 16px 0 0;
            }
      
          input,
          select {
            flex: 1;
            margin: 0 0 0 100px;
            padding: 8px;
            background-color: #FFFFFF;
            border-radius: 4px;
            font-size: 1rem;
            // max-width: 620px;
            width: 620px;
            height: 50px;
            background-color: #FFFFFF;
          }

          textarea {
            flex: 1;
            margin: 0 0 0 100px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
            // max-width: 620px;
            width: 620px;
            height: 120px;
            background-color: #FFFFFF;
          }
        }
      
        .checkbox {
          margin-bottom: 43px;
          display: flex;
          align-content: center;
          justify-content: flex-start;
          input[type="checkbox"] {
            -webkit-appearance: checkbox; // Webkitブラウザ用
            -moz-appearance: checkbox;    // Mozillaブラウザ用
            appearance: checkbox;         // モダンブラウザ用
            width: 31px;
            height: 30px;
          }
          label {
            color: #333333;
            font-size: 16px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 1.6px;
          }

          .wpcf7-checkbox {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
          }
        
          .wpcf7-list-item {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;          // 必須アイコンのフォントサイズ
            letter-spacing: 1.4px;
            font-family: 'Yu Gothic', sans-serif;
            color: #333333;             // アイコンの文字色
          }
      
        
            .checkbox-group-inner {
              display: flex;  
              margin: -29px 0px 0 73px;
              height: 56px;
              legend {
                font-size: 14px;          // 必須アイコンのフォントサイズ
                letter-spacing: 1.4px;
                font-family: 'Yu Gothic', sans-serif;
                color: #333333;             // アイコンの文字色
                margin: 24px 0 0px;
              }
              .wpcf7-form-control-wrap {
                .wpcf7-checkbox {
                  gap: 15px;          
                  .wpcf7-list-item {
                    align-items: center;
                    gap: 5px;
                  }
                }
              }  
            }
        }

        .checkbox2 {
          margin-bottom: 43px;
          display: flex;
          align-content: center;
          justify-content: flex-start;
          input[type="checkbox"] {
            -webkit-appearance: checkbox; // Webkitブラウザ用
            -moz-appearance: checkbox;    // Mozillaブラウザ用
            appearance: checkbox;         // モダンブラウザ用
            width: 31px;
            height: 30px;
            background-color: #FFFFFF;
          }
          label {
            color: #333333;
            font-size: 16px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 1.6px;
            margin: 0 16px 0 0;

          }

          .wpcf7-checkbox {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            width: 420px;
          }
        
          .wpcf7-list-item {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;          // 必須アイコンのフォントサイズ
            letter-spacing: 1.4px;
            font-family: 'Yu Gothic', sans-serif;
            color: #333333;             // アイコンの文字色
          }
      
        
            .checkbox-group-inner {
              display: flex;  
              margin: -29px 0px 0 73px;
              height: 56px;
              legend {
                font-size: 14px;          // 必須アイコンのフォントサイズ
                letter-spacing: 1.4px;
                font-family: 'Yu Gothic', sans-serif;
                color: #333333;             // アイコンの文字色
                margin: 24px 0 0px;
              }
              .wpcf7-form-control-wrap {
                .wpcf7-checkbox {
                  gap: 15px;          
                  .wpcf7-list-item {
                    align-items: center;
                    gap: 5px;
                  }
                }
              }  
            }
      
        }
        position: relative;
        .submit {
          margin: 0 auto;
          position: absolute;
          top: 105.8%;
          left: 49%;
          transform: translate(-50%, -50%); /* 中心位置に調整 */
          .wpcf7-submit {
            width: 160px;
            height: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content:center  ; // 中央揃え
            background: #949E33; // 初期背景色
            color: #FFFFFF; // 初期文字色
            font-family: "Yu Mincho";
            letter-spacing: 2px;
            border-radius: 40px;
            margin: 0 4px 0 0;
            transition: background 0.3s ease, color 0.3s ease;
            text-decoration: none; // リンクの場合も装飾を消す
            cursor: pointer;
            &:hover {
              background-color: #a15e2d;
            }
          }
        }  
      }
      .contact-thanks {
        padding: 0 30px;
        h2 {
          color: #CA7F13;
          font-size: 24px;
          font-family: 'Yu Mincho', sans-serif;
          letter-spacing: 2.4px;
          margin: 48px auto 18px;
          text-align: left;
        }

        .flex {
          width: 100%;
          text-align: left;
          margin: 0;
          p {
            color: #CA7F13;
            font-size: 14px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 0.72px;
            margin: 16px 0;
          }
  
          a{
            color: #CA7F13;
            font-size: 14px;
            font-family: 'Yu Mincho', sans-serif;
            letter-spacing: 0.72px;
            margin: 0 16px 0 0;
          }
        }
      }
      
    }
  }
}


}


