@use "../_foundation/mixin"as mixin;
@use "../_foundation/base"as base;



#section-contects.single-news {
  height: auto;
  background-color: #F9F8F6;



  #news-single {
    height: auto;
    padding: 0 0 0 165px;
    .content-wrapper {
      padding: 111px 0 0 ;
      display: flex;
      justify-content: space-around;  
      &__inner {
        padding: 0 87px 182px ;      
        .news-detail {
          max-width: 691px;
          width: 100%;
          .news-header {
            color: #CA7F13;
            margin: 0 0 40px;
            .entry-title {
              font-size: 24px;
              font-family: "Yu Mincho", "cursive";
              letter-spacing: 2.4px;
              line-height: 27px;
              margin: 11px 0  ;
            }
            
            &__flex {
              display: flex;
              &--category  {
                color: #CA7F13;
                font-size: 14px;
                font-family: "Marcellus", "cursive";
                letter-spacing: 1.4px;
                line-height: 14px;
                margin: 0 8px 0 0 ;
              }
              &--date {
                font-size: 14px;
                font-family: "Marcellus", "cursive";
                letter-spacing: 1.4px;
                line-height: 14px;
              }
            } 
          }

          .news-image {
            width: 100%;
            margin: 0 0 28px;
          }

          .news-introduction {
            color: #333333;
            font-size: 16px;
            font-family: "Yu Gothic", "cursive";
            letter-spacing: 1.6px;
            line-height: 32px;
            margin: 0 0 24px;
          }

          .news-content {
            .news-section {
              &__subheading {
                color: #CA7F13;
                font-size: 18px;
                font-family: "Yu Mincho", "cursive";
                letter-spacing: 1.8px;
                line-height: 32px;
                margin: 0 0 2px;
              }
              &__paragraph {
                color: #333333;
                font-size: 16px;
                font-family: "Yu Gothic", "cursive";
                letter-spacing: 1.6px;
                line-height: 32px;
                margin: 0 0 22px;
              }
            }
          }

          .btn {
            width: 202px;
            height: 41px;
            font-size: 16px;
            font-family: "Yu Mincho", "cursive";
            letter-spacing: 1.6px;
            line-height: 26px; 
            text-align: center;
            margin: 63px auto 0 ;
            a {
              color: #FFFFFF;
            }
          }
          .btn:hover {
            background-color: #CA7F13;
          }
        }
      }
    
      .sidebar {
        max-width: 174px;
        width: 100%;
        height: fit-content;
        margin: 0 152px 0 0;
        padding: 9px 0 7px 15px;
        border-left: 2.5px solid  #CA7F13;
        &__category-title {
          color: #CA7F13;
          font-size: 32px;
          font-family: "Marcellus", "cursive";
          letter-spacing: 3.2px;
          line-height: 14px;
          margin: 0 0 35px 0;
        }

        &__category-list  li a{
          color: #CA7F13;
          font-size: 16px;
          font-family: "Yu Gothic", "cursive";
          letter-spacing: 1.6px;
          line-height: 14px;
          margin: 0 0 12px 0;
        }
      }
    }
  }
}












@include mixin.TAB2 {
  #section-contects.single-news {
    height: auto;
    background-color: #F9F8F6;
    padding: 0;
    #news-single {
      height: auto;
      padding: 0 ;
      .content-wrapper {
        padding: 63px 0 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
        &__inner {
          padding: 0 8% ;      
          .news-detail {
            max-width: 100%;
            width: 100%;
            .news-header {
              color: #CA7F13;
              margin: 0 0 63px;
              .entry-title {
                font-size: 18px;
                font-family: "Yu Mincho", "cursive";
                letter-spacing: 1.8px;
                line-height: 27px;
                margin: 10px 0 1px ;
              }
              
              &__flex {
                display: flex;
                &--category a {
                  color: #CA7F13;
                  font-size: 12px;
                  font-family: "Marcellus", "cursive";
                  letter-spacing: 1.2px;
                  line-height: 14px;
                  margin: 0 8px 0 0 ;
                }
                &--date {
                  font-size: 12px;
                  font-family: "Marcellus", "cursive";
                  letter-spacing: 1.2px;
                  line-height: 14px;
                }
              } 
            }

            .news-image {
              width: 100%;
              margin: -26px 0 0;
              img {
              width: 100%;
              display: block;
              margin: 0 auto 46px;
              }
            }

            .news-introduction {
              color: #333333;
              font-size: 14px;
              font-family: "Yu Gothic", "cursive";
              letter-spacing: 1.4px;
              line-height: 28px;
              margin: 0 0 14px;
            }

            .news-content {
              .news-section {
                &__subheading {
                  color: #CA7F13;
                  font-size: 16px;
                  font-family: "Yu Mincho", "cursive";
                  letter-spacing: 1.6px;
                  line-height: 32px;
                  margin: 0 0 2px;
                }
                &__paragraph {
                  color: #333333;
                  font-size: 14px;
                  font-family: "Yu Gothic", "cursive";
                  letter-spacing: 1.4px;
                  line-height: 28px;
                  margin: 0 0 12px;
                }
              }
            }

            .btn {
              width: 202px;
              height: 41px;
              font-size: 16px;
              font-family: "Yu Mincho", "cursive";
              letter-spacing: 1.6px;
              line-height: 26px; 
              text-align: center;
              margin: 80px auto 41px ;
              a {
                color: #FFFFFF;
              }
            }
            .btn:hover {
              background-color: #CA7F13;
            }
          }
        }
      
        .sidebar {
          max-width: 100%;
          width: 100%;
          height: fit-content;
          margin: 0 0 50px;
          padding: 0 8%;
          border-left: none;
          &__category-title {
            color: #CA7F13;
            font-size: 24px;
            font-family: "Marcellus", "cursive";
            letter-spacing: 2.4px;
            line-height: 14px;
            margin: 0 0 27px 0;
          }

          &__category-list {
            display: flex;
            flex-wrap: wrap;
            li a{
            width: 94px;
            color: #CA7F13;
            font-size: 14px;
            font-family: "Yu Gothic", "cursive";
            letter-spacing: 1.4px;
            line-height: 14px;
            margin: 0 0 13px 0;
            }
          }
        }
      }
    }
  }
}














@include mixin.SP {
  #section-contects.single-news {
    height: auto;
    background-color: #F9F8F6;
    padding: 0 12px 67px 15px;
    #news-single {
      height: auto;
      padding: 0 ;
      .content-wrapper {
        padding: 63px 0 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
        &__inner {
          padding: 0 ;      
          .news-detail {
            max-width: 691px;
            width: 100%;
            .news-header {
              color: #CA7F13;
              margin: 0 0 40px;
              .entry-title {
                font-size: 18px;
                font-family: "Yu Mincho", "cursive";
                letter-spacing: 1.8px;
                line-height: 27px;
                margin: 10px 0 1px ;
              }
              
              &__flex {
                display: flex;
                &--category a {
                  color: #CA7F13;
                  font-size: 12px;
                  font-family: "Marcellus", "cursive";
                  letter-spacing: 1.2px;
                  line-height: 14px;
                  margin: 0 8px 0 0 ;
                }
                &--date {
                  font-size: 12px;
                  font-family: "Marcellus", "cursive";
                  letter-spacing: 1.2px;
                  line-height: 14px;
                }
              } 
            }

            .news-image {
              width: 100%;
              margin: -26px 0 0;
              img {
              width: 100%;
              display: block;
              margin: 0 auto 46px;
              }
            }

            .news-introduction {
              color: #333333;
              font-size: 14px;
              font-family: "Yu Gothic", "cursive";
              letter-spacing: 1.4px;
              line-height: 28px;
              margin: 0 0 14px;
            }

            .news-content {
              .news-section {
                &__subheading {
                  color: #CA7F13;
                  font-size: 16px;
                  font-family: "Yu Mincho", "cursive";
                  letter-spacing: 1.6px;
                  line-height: 32px;
                  margin: 0 0 2px;
                }
                &__paragraph {
                  color: #333333;
                  font-size: 14px;
                  font-family: "Yu Gothic", "cursive";
                  letter-spacing: 1.4px;
                  line-height: 28px;
                  margin: 0 0 12px;
                }
              }
            }

            .btn {
              width: 202px;
              height: 41px;
              font-size: 16px;
              font-family: "Yu Mincho", "cursive";
              letter-spacing: 1.6px;
              line-height: 26px; 
              text-align: center;
              margin: 80px auto 41px ;
              a {
                color: #FFFFFF;
              }
            }
            .btn:hover {
              background-color: #CA7F13;
            }
          }
        }
      
        .sidebar {
          max-width: 100%;
          width: 100%;
          height: fit-content;
          margin: 0 ;
          padding: 0;
          border-left: none;
          &__category-title {
            color: #CA7F13;
            font-size: 24px;
            font-family: "Marcellus", "cursive";
            letter-spacing: 2.4px;
            line-height: 14px;
            margin: 0 0 27px 0;
          }

          &__category-list {
            display: flex;
            flex-wrap: wrap;
            li a{
            width: 150px;
            color: #CA7F13;
            font-size: 14px;
            font-family: "Yu Gothic", "cursive";
            letter-spacing: 1.4px;
            line-height: 14px;
            margin: 0 0 13px   0;
            }
          }
        }
      }
    }
  }
}

